body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.background-image {
  background-image: url('relu3.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.2); /* Transparent white background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container img {
  max-width: 100%; /* Ensure the image doesn't exceed the container's width */
  height: auto; /* Maintain aspect ratio */
}

h1 {
  color: #333;
}

p {
  color: white;
  line-height: 1.6;
}
/* Responsive Design */
@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
    padding: 10px;
  }
}

